<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <%= link_to 'Finance Tracker', root_path, class: 'navbar-brand'%>
    <% if current_user %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <%= link_to 'My Portfolio', my_portfolio_path, class: "nav-link#{' active' if current_page?(my_portfolio_path)}" %>
          </li>
          <li class="nav-item" >
            <%= link_to 'My Friends', my_friends_path, class: "nav-link#{' active' if current_page?(my_friends_path)}" %>
          </li>
          <li class="nav-item" >
            <%= link_to  edit_user_registration_path, class: "nav-link#{' active' if current_page?(edit_user_registration_path)}" do%>
              <%= fa_icon 'edit' %> Edit Profile 
            <% end %>
          </li>
        </ul>

        <ul class="navbar-nav mi-auto">
          <li class="nav-item user-name me-2">
            <%= fa_icon 'user' %> <%= current_user.full_name %>
          </li>
          <li class="nav-item me-2">
            <%= link_to("Logout", destroy_user_session_path, class: "btn btn-xs btn-danger ", method: :delete)%>
          </li>
        </ul>

      </div>
    <% end %>
  </div>
</nav>