<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
        <div class="flex-grow-1">
          <!-- Render Navigation Bar -->
          <%= render 'layouts/navigation' %>
          <div class="container">
          <!-- Messages and Alert -->
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <!-- Render Footer -->
        <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
